<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDesignManagementService" />
                <binding name="BasicHttpsBinding_IDesignManagementService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dms-service.apactest.beiniz.biz/DesignManagementService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDesignManagementService"
                contract="Service.Console.IDesignManagementService" name="BasicHttpBinding_IDesignManagementService" />
            <endpoint address="https://dms-service.apactest.beiniz.biz/DesignManagementService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IDesignManagementService"
                contract="Service.Console.IDesignManagementService" name="BasicHttpsBinding_IDesignManagementService" />
        </client>
    </system.serviceModel>
</configuration>